* {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, footer {
}

h1 {
    color: orange;
    font-size: 150px;
}

h3, h4, footer {
	color: gray;
}

h4 {
	font-size: 30px;
}

.zoomout {
	-webkit-animation: zoomout 1s ease 0s 1 normal forwards;
}
@-webkit-keyframes zoomout {
	from { font-size: 150px;}
	to { font-size: 70px;}
}

.zoomin {
	-webkit-animation: zoomin 1s ease 0s 1 normal forwards;
}
@-webkit-keyframes zoomin {
	from { font-size: 70px; }
	to { font-size: 150px; }
}