* {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, footer {
}

a {
	color: gray;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
    color: orange;
    font-size: 150px;
}

h3, h4, footer {
	color: gray;
}

h2 {
	color: orange;
	font-size: 100px;
}

h4 {
	font-size: 30px;
}

ul {
	-webkit-align-self: center;
}

li {
	color: #222200;
	font-size: 50px;

}
